workflows/ask-question-workflow.json
{
  "name": "Personal Research Assistant - Ask Question",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error}}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "657de6c9-2d31-45d0-a610-79437d7a165b",
      "name": "Check for \"No Error\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        32,
        880
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Set Fields').item.json.channelId }}",
          "mode": "id"
        },
        "text": "❌ Please provide a question. Usage: /ask <your question>",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "ephemeral": {
            "ephemeralValues": {
              "user": {
                "__rl": true,
                "value": "={{ $('Set Fields').item.json.userId }}",
                "mode": "id"
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        464,
        1072
      ],
      "id": "5a456472-494c-48f0-9940-7ffd5490092a",
      "name": "Error Message",
      "webhookId": "dd990601-9bc3-48f0-a22c-7725207d8965",
      "credentials": {
        "slackApi": {
          "id": "verXYSGVsqfbTiLi",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "text": "=*Question from {{ $json.userName }}:*\n_{{ $json.question }}_\n\n\n{{ $json.answer }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1104,
        672
      ],
      "id": "0bfadcd2-4800-4862-af66-71ed7028b2a0",
      "name": "Send Answer to Slack",
      "webhookId": "e63760cc-2f7c-468a-9fbf-ca5706305846",
      "credentials": {
        "slackApi": {
          "id": "verXYSGVsqfbTiLi",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.userId }}",
        "tableName": "conversation_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        384,
        688
      ],
      "id": "0ddc3091-ccd1-4658-a8ae-0628690e2c11",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zFJtUkPJAIgWyZjG",
          "name": "Postgres Supabase API"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        256,
        688
      ],
      "id": "5739a4f5-8610-4d43-b287-df8a65f0ddd6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "m7PwaxoPXDggZjlK",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        512,
        816
      ],
      "id": "58e6e688-f94e-432c-b697-cb77452e93f1",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "PG4czgBlJQpK7N0s",
          "name": "HuggingFace API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-name-id",
              "name": "userName",
              "value": "={{ $json.body.user_name }}",
              "type": "string"
            },
            {
              "id": "user-id-id",
              "name": "userId",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "text-id",
              "name": "question",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "channel-id",
              "name": "channelId",
              "value": "={{ $json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "8cf72efd-1356-4763-9f21-39ba2e4f4c7f",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        880
      ],
      "id": "27c88b10-6b4c-4048-8e6a-9f9007b0675d",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a research assistant with access to a document library via vector search.\n\nCORE RULES:\n1. Search the library before answering research questions\n2. Cite sources for every claim: \"According to [Title]...\"\n3. If documents lack info, say so clearly - don't speculate\n4. End responses with: \"*Sources:* [Title] by [Author]\"\n\nWHEN TO SEARCH:\n- Questions about research, papers, methods, findings → SEARCH\n- Greetings, clarifications, follow-ups → NO SEARCH needed\n\nRESPONSE FORMAT:\n[Direct answer with inline citations]\n\n*Sources:*\n- _[Title]_ by [Author]\n\nFORMATTING (Slack markdown - IMPORTANT):\n- Use *text* for bold (single asterisk, NOT double)\n- Use _text_ for italics (single underscore)\n- NEVER use **text** or __text__ (double asterisks/underscores don't work in Slack)\n- Bold: *important terms*, *document titles*, *Sources:*\n- Italics: _technical jargon_, _paper titles in citations_\n\nQUALITY:\n- Accurate: Only use retrieved document content\n- Honest: State when information is insufficient\n- Clear: Academic but accessible\n- Concise: Answer fully but briefly\n\nWhen documents conflict, compare them. When building on previous conversation, reference context naturally."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        464
      ],
      "id": "c8028930-086c-415a-a583-5df785482b15",
      "name": "Research Assistant"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This table consists of all the saved research documents.",
        "tableName": {
          "__rl": true,
          "value": "research_documents",
          "mode": "list",
          "cachedResultName": "research_documents"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        688
      ],
      "id": "b0014910-3dad-4f37-bba1-b19f289cef4b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "wY8KwuEPxNXm7D7z",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Searching...",
        "options": {}
      },
      "id": "7543e748-427f-473d-b946-480814bae125",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -416,
        880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "90ce5598-b16d-4828-95f2-4b71c6d31d1f",
      "name": "Webhook - Slack /ask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        880
      ],
      "webhookId": "ask-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "106008a9-4271-42a1-ba60-673ca446ee4c",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "e95d6411-6c54-47be-ac47-52840a6ab481",
              "name": "userName",
              "value": "={{ $('Set Fields').item.json.userName }}",
              "type": "string"
            },
            {
              "id": "8cea8b10-5868-4c00-8fa6-332de6d2a481",
              "name": "userId",
              "value": "={{ $('Set Fields').item.json.userId }}",
              "type": "string"
            },
            {
              "id": "437e5e0a-7487-4e54-b0c1-a4067045cfa7",
              "name": "question",
              "value": "={{ $('Set Fields').item.json.question }}",
              "type": "string"
            },
            {
              "id": "4bd42bb8-d19f-4b6f-8daf-ea2f8975cd79",
              "name": "channelId",
              "value": "={{ $('Set Fields').item.json.channelId }}",
              "type": "string"
            },
            {
              "id": "dc5fbc73-14b7-4717-937f-ad17127368b7",
              "name": "timestamp",
              "value": "={{ $('Set Fields').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        672
      ],
      "id": "d1ed326b-8d6a-4313-852f-43f6443bca5f",
      "name": "Set Response Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Check for \"No Error\"": {
      "main": [
        [
          {
            "node": "Research Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Check for \"No Error\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Assistant": {
      "main": [
        [
          {
            "node": "Set Response Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Research Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Slack /ask": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response Fields": {
      "main": [
        [
          {
            "node": "Send Answer to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "898b34fc-04da-4311-9862-6fdcac5f8d7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97cdaab89af73ebd5970b4d23e9d1859d7eb3b935c78db3eb6127ddba5b4902d"
  },
  "id": "2lxwvkSW98IQIzoP",
  "tags": []
}